/* body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #f1f1f1; 
} */

.maindiv{
    border: 1px solid red;

}
.gmailtext{
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

